*{background-color: rgba(7, 109, 109, 0.959); width:10px;height:30px;}
.head{background-color: rgba(11, 201, 138, 0.959);width: 12px;height:40px;}
contenido1{background-color: bisque;width: 50px;height:40px;}
contenido2{background-color: rgb(255, 60, 0);width: 140px;}